html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.min-vh-100 {
    min-height: 100vh !important;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}
