.nav_link_main {
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    background-color: lightgray;
}

.link_active {
    color: red;
}

.link_inactive {
    color: black;
}
